@import url('colors.css');

:root
{
	--canvasWidth: 40em;
	--middleFrameHeight: 16.9em;
}

body {
	margin:0;
	background-color: var(--clrBackground);
	font-family: Verdena, Tahoma, sans-serif;
}

#framesCanvas {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: calc(50vw - var(--canvasWidth) / 2);
	margin-right: calc(50vw - var(--canvasWidth) / 2);
	height: 100vh;
	background-color: yellow;
	text-align: center;
	overflow: hidden;
}

#iFrameTop {
	position: relative;
	width: 100%;
	height: calc(var(--canvasWidth) / 2);
	margin: 0; position: relative; /*left: 50%; transform: translate(-50%);*/
}

#iFrameMiddle {
	width: 100%;
	height: 100%;
}

@keyframes eye {
	0% { transform: scale(1, 1); }
	50% { transform: scale(1, 0); }
	100% { transform: scale(1, 1); }
}

@keyframes eye0 {
	0% { transform: scale(1, 1); }
	15% { transform: scale(1, 1); }
	20% { transform: scale(1, 0); }
	25% { transform: scale(1, 1); }
	100% { transform: scale(1, 1); }
}

#eye-container {
	position: absolute;
	z-index: 10;
	left: 50%; top: 0;
	transform: translate(-50%);
}

@keyframes middle-ani {
	0% { height: 0em;}
	30% { height: 3em;}
	50% { height: 3em;}
	100% { height: var(--middleFrameHeight);}
}

@media screen and (max-width: 40em)
{
	#framesCanvas {
		margin-left: 0;
		margin-right: 0;
	}
	
	#iFrameTop {
		position: relative;
		width: 100%;
		height: 50vw;
		margin: 0; position: relative; /*left: 50%; transform: translate(-50%);*/
	}
}