@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Work+Sans&display=swap');

:root
{
  --color1: #738580ff;
  --color2: #bfcad0ff;
  --color3: #970c10ff;
  --color4: #474440ff;
  --gradient1: linear-gradient(var(--color2), var(--color1));
  --gradient2: linear-gradient(var(--color1), var(--color2));
}

html
{
	background-image: var(--gradient1);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Nunito', sans-serif;
}

bugyogo
{
	color: yellow;
	text-align: center;
	font-size: 100px;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

	
body
{
	margin: auto;
    	max-width: 640px;
	height: 100%;
	background-color: var(--color1);
	padding: 10px;
}

.panel
{
	height: auto;
	background-color: var(--color2);
	border: 1px solid var(--color1);
	box-shadow: 2px 2px var(--color4);
	padding: 20px;
	margin-bottom: 20px;
	color: var(--color4);
	
	text-align: justify;
	font-size: 16px;
}

.button
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 220px;
	box-shadow: 2px 2px var(--color4);
	background-color: var(--color3);
	color: var(--color2);
	padding: 6px;
	text-align: center;
	font-size: 16px;
}
